body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  color: #434455;
  line-height: 1.5;
}
.logo {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.logo .accent {
  color: #4d5ae5;
}
