.features {
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list {
}
.features-item {
}
.features-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.features-descr {
  color: #434455;
}
